*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.logo{
  text-align: center;
  
}
.logo a{
  color: black;
  font-size: 1.5em;
  font-family: 'Zapfino', sans-serif;

  letter-spacing: 1px;
  cursor: pointer;
}

.navbar{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
}
.navbar li{
  margin-top: 2em;
}
.navbar li a{
  text-align: center;
  color: black;
  font-size: .6em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Zapfino', sans-serif;

}
.hamburger{
  position: absolute;
  cursor: pointer;
  top: 13px;
  right: 15px;
}
.hamburger .line{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 3px;
  background-color: black;
}
.hide{
  display: none;
}


.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
  z-index: 1;
  background-color: rgb(234, 234, 240);
 

}
.dropdown-content   a{
 float: none;
 color: black;
 padding: 5px 0;
 text-decoration: none;
 display: block;
 text-align: left;
 font-size: 10px;


}
.dropdown:hover .dropdown-content{
  display: block;
}
.container-contact{
  width: 100%;
  
}
.container-contact h3{
  font-family: 'Roboto', sans-serif;
  padding:0  0.4em;
  
}
hr{
  width: 70px;
  border: 1px solid rgb(230, 47, 47);
  margin-left: .4em;
  margin-bottom: 1em;
}
.container-contact p{
  color: rgb(122, 122, 122);
  font-size: .8em;
  padding: 0 0 .5em .6em ;
  font-family: 'Roboto', sans-serif;

}
.contact-dates{
  padding: 0 1em;
}
.adress{
  display: flex;
  gap: 1;
  margin: 1em 0;
}
.adress p{
  color: black;
}
.adress span{
  font-weight: bold;
}
.phone{
  display: flex;
  gap: 1;
  margin-bottom:1em ;
}
.phone p{
  color: black;
}
.phone span{
  font-weight: bold;
}
.email {
  display: flex;
  gap: 1;
  margin-bottom:1em ;
}
.email p{
  color: black;
}
.email span{
  font-weight: bold;
}
.website{
  display: flex;
  gap: 1;
  margin-bottom:1em ;
}
.website p{
  color: black;
}
.website span{
  font-weight: bold;
}
@media screen and (min-width: 600px){
  
  .logo{
    text-align: center;
    margin: 15px 30px;
  }
  .navbar li a{
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }
  .navbar-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 70px;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
    color: rgb(36, 36, 36);
    text-transform: lowercase;
    width: 100%;
  }
  .navbar-links li a{
    cursor: pointer;
  }
  .hamburger{
    display: none;
  }
  .container{
    margin-top: 50px;
  }
  .container-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  hr{
    margin: 1em auto;
    width: 150px;
  }
 

}
